In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\snehal\anaconda3\lib\site-packages (8.0.19)
Requirement already satisfied: dnspython==1.16.0 in c:\users\snehal\anaconda3\lib\site-packages (from mysql-connector-python) (1.16.0)
Requirement already satisfied: protobuf==3.6.1 in c:\users\snehal\anaconda3\lib\site-packages (from mysql-connector-python) (3.6.1)
Requirement already satisfied: setuptools in c:\users\snehal\anaconda3\lib\site-packages (from protobuf==3.6.1->mysql-connector-python) (41.0.1)
Requirement already satisfied: six>=1.9 in c:\users\snehal\anaconda3\lib\site-packages (from protobuf==3.6.1->mysql-connector-python) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
df_events = pd.read_csv('G:\Project\Capstone_project-1\events_data.csv')
df_events.head()

,event_id,device_id,timestamp,longitude,latitude,city,state
0,1.0,2.918269e+16,2016-05-01 00:55:25,77.266049,28.68161,Delhi,Delhi
1,7104.0,2.918269e+16,2016-05-02 09:37:02,77.266049,28.68161,Delhi,Delhi
2,29661.0,2.918269e+16,2016-05-04 00:56:04,77.266049,28.68161,Delhi,Delhi
3,33133.0,2.918269e+16,2016-05-06 05:01:15,77.266049,28.68161,Delhi,Delhi
4,38980.0,2.918269e+16,2016-05-06 09:55:04,77.266049,28.68161,Delhi,Delhi

In [6]:
import mysql.connector

cnx = mysql.connector.connect(host='cpanel.insaid.co',user='student', password='student',
                              database='Capstone1')
cursor = cnx.cursor()
cursor.execute("SHOW TABLES")             
cnx.close()