In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [39]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.6/dist-packages (8.0.19)
Requirement already satisfied: protobuf==3.6.1 in /usr/local/lib/python3.6/dist-packages (from mysql-connector-python) (3.6.1)
Requirement already satisfied: dnspython==1.16.0 in /usr/local/lib/python3.6/dist-packages (from mysql-connector-python) (1.16.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from protobuf==3.6.1->mysql-connector-python) (45.1.0)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.6/dist-packages (from protobuf==3.6.1->mysql-connector-python) (1.12.0)

In [0]:
#df_events = pd.read_csv('G:\Project\Capstone_project-1\events_data.csv')
#df_events.head()

In [40]:
import mysql.connector

cnx = mysql.connector.connect(host='cpanel.insaid.co',user='student', password='student',
                              database='Capstone1')
print(cnx)
cursor = cnx.cursor()
cursor.execute("SHOW TABLES") 

#tables = cursor.fetchall()
for table_names in cursor :
    print(table_names)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f0702bf6c88>
('events_data',)
('gender_age_train',)
('phone_brand_device_model',)

In [41]:
cursor.execute("SELECT count(*) FROM gender_age_train")
#cursor.fetchall()
for x in cursor:
  print(x)
#row_count = cursor.rowcount
#print("%d"%cursor.rowcount)
#cnx.close()

(74645,)