<a href="https://colab.research.google.com/github/DsStudentSid/InitialPaythonAssignments/blob/master/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#from plotly.offline import init_notebook_mode, iplot
#import plotly.graph_objs as go
#import chart_studio.plotly as py
#from plotly import tools
#init_notebook_mode(connected=True)

In [41]:
train = pd.read_csv('https://raw.githubusercontent.com/DsStudentSid/InitialPaythonAssignments/master/PropertyInspection_train.csv')

In [53]:
train.head()

   Id  Hazard  T1_V1  T1_V2  T1_V3  ... T2_V11 T2_V12 T2_V13 T2_V14 T2_V15
0   1       1     15      3      2  ...      Y      N      E      2      2
1   2       4     16     14      5  ...      Y      Y      E      2      1
2   3       1     10     10      5  ...      Y      Y      E      6      1
3   4       1     18     18      5  ...      Y      N      C      2      6
4   5       1     13     19      5  ...      N      N      E      1      1

[5 rows x 34 columns]

In [54]:
train.shape

(50999, 34)

In [44]:
HazardDropDF=train.drop('Hazard',axis=1)

In [45]:
HazardDropDF.head()

   Id  T1_V1  T1_V2  T1_V3 T1_V4  ... T2_V11 T2_V12 T2_V13 T2_V14 T2_V15
0   1     15      3      2     N  ...      Y      N      E      2      2
1   2     16     14      5     H  ...      Y      Y      E      2      1
2   3     10     10      5     N  ...      Y      Y      E      6      1
3   4     18     18      5     N  ...      Y      N      C      2      6
4   5     13     19      5     N  ...      N      N      E      1      1

[5 rows x 33 columns]

In [51]:
HazardDropDF.shape

(50999, 33)

In [55]:
check = train.Hazard
check.shape

(50999,)

In [56]:
HazardDropDF.describe()

                  Id         T1_V1  ...        T2_V14        T2_V15
count   50999.000000  50999.000000  ...  50999.000000  50999.000000
mean    50929.727897      9.722093  ...      2.451126      3.484480
std     29314.685894      5.167943  ...      1.260074      3.076745
min         1.000000      1.000000  ...      1.000000      1.000000
25%     25660.500000      6.000000  ...      2.000000      1.000000
50%     50977.000000      9.000000  ...      2.000000      2.000000
75%     76268.500000     14.000000  ...      3.000000      5.000000
max    101999.000000     19.000000  ...      7.000000     12.000000

[8 rows x 17 columns]

In [ ]:
X_new=pd.get