<a href="https://colab.research.google.com/github/DsStudentSid/InitialPaythonAssignments/blob/master/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [86]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import pandas_profiling
#from pandas_profiling import ProfileReport

#from plotly.offline import init_notebook_mode, iplot
#import plotly.graph_objs as go
#import chart_studio.plotly as py
#from plotly import tools
#init_notebook_mode(connected=True)

In [ ]:
!pip uninstall pandas-profiling

In [87]:
!pip install pandas_profiling==2.5.0

Requirement already satisfied: pandas_profiling==2.5.0 in /usr/local/lib/python3.6/dist-packages (2.5.0)
Requirement already satisfied: tqdm==4.42.0 in /usr/local/lib/python3.6/dist-packages (from pandas_profiling==2.5.0) (4.42.0)
Requirement already satisfied: matplotlib>=3.0.3 in /usr/local/lib/python3.6/dist-packages (from pandas_profiling==2.5.0) (3.2.2)
Requirement already satisfied: requests==2.22.0 in /usr/local/lib/python3.6/dist-packages (from pandas_profiling==2.5.0) (2.22.0)
Requirement already satisfied: astropy>=3.2.3 in /usr/local/lib/python3.6/dist-packages (from pandas_profiling==2.5.0) (4.0.1.post1)
Requirement already satisfied: tangled-up-in-unicode==0.0.3 in /usr/local/lib/python3.6/dist-packages (from pandas_profiling==2.5.0) (0.0.3)
Requirement already satisfied: kaggle==1.5.6 in /usr/local/lib/python3.6/dist-packages (from pandas_profiling==2.5.0) (1.5.6)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from pandas_profiling==2.5.0) (1.4.1)
Requirement already satisfied: pandas==0.25.3 in /usr/local/lib/python3.6/dist-packages (from pandas_profiling==2.5.0) (0.25.3)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from pandas_profiling==2.5.0) (1.18.5)
Requirement already satisfied: jinja2==2.11.1 in /usr/local/lib/python3.6/dist-packages (from pandas_profiling==2.5.0) (2.11.1)
Requirement already satisfied: missingno==0.4.2 in /usr/local/lib/python3.6/dist-packages (from pandas_profiling==2.5.0) (0.4.2)
Requirement already satisfied: phik==0.9.9 in /usr/local/lib/python3.6/dist-packages (from pandas_profiling==2.5.0) (0.9.9)
Requirement already satisfied: ipywidgets==7.5.1 in /usr/local/lib/python3.6/dist-packages (from pandas_profiling==2.5.0) (7.5.1)
Requirement already satisfied: htmlmin==0.1.12 in /usr/local/lib/python3.6/dist-packages (from pandas_profiling==2.5.0) (0.1.12)
Requirement already satisfied: confuse==1.0.0 in /usr/local/lib/python3.6/dist-packages (from pandas_profiling==2.5.0) (1.0.0)
Requirement already satisfied: visions==0.2.2 in /usr/local/lib/python3.6/dist-packages (from pandas_profiling==2.5.0) (0.2.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.0.3->pandas_profiling==2.5.0) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.0.3->pandas_profiling==2.5.0) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.0.3->pandas_profiling==2.5.0) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.0.3->pandas_profiling==2.5.0) (1.2.0)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests==2.22.0->pandas_profiling==2.5.0) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests==2.22.0->pandas_profiling==2.5.0) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests==2.22.0->pandas_profiling==2.5.0) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests==2.22.0->pandas_profiling==2.5.0) (2020.4.5.2)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.6->pandas_profiling==2.5.0) (1.12.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle==1.5.6->pandas_profiling==2.5.0) (4.0.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas==0.25.3->pandas_profiling==2.5.0) (2018.9)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2==2.11.1->pandas_profiling==2.5.0) (1.1.1)
Requirement already satisfied: seaborn in /usr/local/lib/python3.6/dist-packages (from missingno==0.4.2->pandas_profiling==2.5.0) (0.10.1)
Requirement already satisfied: jupyter-client>=5.2.3 in /usr/local/lib/python3.6/dist-packages (from phik==0.9.9->pandas_profiling==2.5.0) (5.3.4)
Requirement already satisfied: pytest>=4.0.2 in /usr/local/lib/python3.6/dist-packages (from phik==0.9.9->pandas_profiling==2.5.0) (5.4.3)
Requirement already satisfied: joblib>=0.14.1 in /usr/local/lib/python3.6/dist-packages (from phik==0.9.9->pandas_profiling==2.5.0) (0.15.1)
Requirement already satisfied: numba>=0.38.1 in /usr/local/lib/python3.6/dist-packages (from phik==0.9.9->pandas_profiling==2.5.0) (0.48.0)
Requirement already satisfied: pytest-pylint>=0.13.0 in /usr/local/lib/python3.6/dist-packages (from phik==0.9.9->pandas_profiling==2.5.0) (0.17.0)
Requirement already satisfied: nbconvert>=5.3.1 in /usr/local/lib/python3.6/dist-packages (from phik==0.9.9->pandas_profiling==2.5.0) (5.6.1)
Requirement already satisfied: ipython>=4.0.0; python_version >= "3.3" in /usr/local/lib/python3.6/dist-packages (from ipywidgets==7.5.1->pandas_profiling==2.5.0) (5.5.0)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /usr/local/lib/python3.6/dist-packages (from ipywidgets==7.5.1->pandas_profiling==2.5.0) (3.5.1)
Requirement already satisfied: nbformat>=4.2.0 in /usr/local/lib/python3.6/dist-packages (from ipywidgets==7.5.1->pandas_profiling==2.5.0) (5.0.7)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.6/dist-packages (from ipywidgets==7.5.1->pandas_profiling==2.5.0) (4.10.1)
Requirement already satisfied: traitlets>=4.3.1 in /usr/local/lib/python3.6/dist-packages (from ipywidgets==7.5.1->pandas_profiling==2.5.0) (4.3.3)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from confuse==1.0.0->pandas_profiling==2.5.0) (3.13)
Requirement already satisfied: networkx in /usr/local/lib/python3.6/dist-packages (from visions==0.2.2->pandas_profiling==2.5.0) (2.4)
Requirement already satisfied: attr in /usr/local/lib/python3.6/dist-packages (from visions==0.2.2->pandas_profiling==2.5.0) (0.3.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle==1.5.6->pandas_profiling==2.5.0) (1.3)
Requirement already satisfied: tornado>=4.1 in /usr/local/lib/python3.6/dist-packages (from jupyter-client>=5.2.3->phik==0.9.9->pandas_profiling==2.5.0) (4.5.3)
Requirement already satisfied: jupyter-core>=4.6.0 in /usr/local/lib/python3.6/dist-packages (from jupyter-client>=5.2.3->phik==0.9.9->pandas_profiling==2.5.0) (4.6.3)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.6/dist-packages (from jupyter-client>=5.2.3->phik==0.9.9->pandas_profiling==2.5.0) (19.0.1)
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik==0.9.9->pandas_profiling==2.5.0) (1.8.2)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik==0.9.9->pandas_profiling==2.5.0) (19.3.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik==0.9.9->pandas_profiling==2.5.0) (0.2.4)
Requirement already satisfied: importlib-metadata>=0.12; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik==0.9.9->pandas_profiling==2.5.0) (1.6.1)
Requirement already satisfied: more-itertools>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik==0.9.9->pandas_profiling==2.5.0) (8.4.0)
Requirement already satisfied: pluggy<1.0,>=0.12 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik==0.9.9->pandas_profiling==2.5.0) (0.13.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik==0.9.9->pandas_profiling==2.5.0) (20.4)
Requirement already satisfied: llvmlite<0.32.0,>=0.31.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba>=0.38.1->phik==0.9.9->pandas_profiling==2.5.0) (0.31.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from numba>=0.38.1->phik==0.9.9->pandas_profiling==2.5.0) (47.3.1)
Requirement already satisfied: pylint>=2.3.0 in /usr/local/lib/python3.6/dist-packages (from pytest-pylint>=0.13.0->phik==0.9.9->pandas_profiling==2.5.0) (2.5.3)
Requirement already satisfied: toml>=0.7.1 in /usr/local/lib/python3.6/dist-packages (from pytest-pylint>=0.13.0->phik==0.9.9->pandas_profiling==2.5.0) (0.10.1)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik==0.9.9->pandas_profiling==2.5.0) (0.6.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik==0.9.9->pandas_profiling==2.5.0) (1.4.2)
Requirement already satisfied: testpath in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik==0.9.9->pandas_profiling==2.5.0) (0.4.4)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik==0.9.9->pandas_profiling==2.5.0) (0.3)
Requirement already satisfied: pygments in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik==0.9.9->pandas_profiling==2.5.0) (2.1.3)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik==0.9.9->pandas_profiling==2.5.0) (0.8.4)
Requirement already satisfied: bleach in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik==0.9.9->pandas_profiling==2.5.0) (3.1.5)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets==7.5.1->pandas_profiling==2.5.0) (4.4.2)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets==7.5.1->pandas_profiling==2.5.0) (1.0.18)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets==7.5.1->pandas_profiling==2.5.0) (0.8.1)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets==7.5.1->pandas_profiling==2.5.0) (4.8.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets==7.5.1->pandas_profiling==2.5.0) (0.7.5)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.6/dist-packages (from widgetsnbextension~=3.5.0->ipywidgets==7.5.1->pandas_profiling==2.5.0) (5.2.2)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.2.0->ipywidgets==7.5.1->pandas_profiling==2.5.0) (0.2.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.2.0->ipywidgets==7.5.1->pandas_profiling==2.5.0) (2.6.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata>=0.12; python_version < "3.8"->pytest>=4.0.2->phik==0.9.9->pandas_profiling==2.5.0) (3.1.0)
Requirement already satisfied: isort<5,>=4.2.5 in /usr/local/lib/python3.6/dist-packages (from pylint>=2.3.0->pytest-pylint>=0.13.0->phik==0.9.9->pandas_profiling==2.5.0) (4.3.21)
Requirement already satisfied: mccabe<0.7,>=0.6 in /usr/local/lib/python3.6/dist-packages (from pylint>=2.3.0->pytest-pylint>=0.13.0->phik==0.9.9->pandas_profiling==2.5.0) (0.6.1)
Requirement already satisfied: astroid<=2.5,>=2.4.0 in /usr/local/lib/python3.6/dist-packages (from pylint>=2.3.0->pytest-pylint>=0.13.0->phik==0.9.9->pandas_profiling==2.5.0) (2.4.2)
Requirement already satisfied: webencodings in /usr/local/lib/python3.6/dist-packages (from bleach->nbconvert>=5.3.1->phik==0.9.9->pandas_profiling==2.5.0) (0.5.1)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.6/dist-packages (from pexpect; sys_platform != "win32"->ipython>=4.0.0; python_version >= "3.3"->ipywidgets==7.5.1->pandas_profiling==2.5.0) (0.6.0)
Requirement already satisfied: terminado>=0.3.3; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets==7.5.1->pandas_profiling==2.5.0) (0.8.3)
Requirement already satisfied: typed-ast<1.5,>=1.4.0; implementation_name == "cpython" and python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from astroid<=2.5,>=2.4.0->pylint>=2.3.0->pytest-pylint>=0.13.0->phik==0.9.9->pandas_profiling==2.5.0) (1.4.1)
Requirement already satisfied: lazy-object-proxy==1.4.* in /usr/local/lib/python3.6/dist-packages (from astroid<=2.5,>=2.4.0->pylint>=2.3.0->pytest-pylint>=0.13.0->phik==0.9.9->pandas_profiling==2.5.0) (1.4.3)
Requirement already satisfied: wrapt~=1.11 in /usr/local/lib/python3.6/dist-packages (from astroid<=2.5,>=2.4.0->pylint>=2.3.0->pytest-pylint>=0.13.0->phik==0.9.9->pandas_profiling==2.5.0) (1.12.1)

In [88]:
train = pd.read_csv('https://raw.githubusercontent.com/DsStudentSid/InitialPaythonAssignments/master/PropertyInspection_train.csv')

In [89]:
train.head()

   Id  Hazard  T1_V1  T1_V2  T1_V3  ... T2_V11 T2_V12 T2_V13 T2_V14 T2_V15
0   1       1     15      3      2  ...      Y      N      E      2      2
1   2       4     16     14      5  ...      Y      Y      E      2      1
2   3       1     10     10      5  ...      Y      Y      E      6      1
3   4       1     18     18      5  ...      Y      N      C      2      6
4   5       1     13     19      5  ...      N      N      E      1      1

[5 rows x 34 columns]

In [90]:
train.shape

(50999, 34)

In [91]:
HazardDropDF=train.drop('Hazard',axis=1)

In [92]:
HazardDropDF.head()

   Id  T1_V1  T1_V2  T1_V3 T1_V4  ... T2_V11 T2_V12 T2_V13 T2_V14 T2_V15
0   1     15      3      2     N  ...      Y      N      E      2      2
1   2     16     14      5     H  ...      Y      Y      E      2      1
2   3     10     10      5     N  ...      Y      Y      E      6      1
3   4     18     18      5     N  ...      Y      N      C      2      6
4   5     13     19      5     N  ...      N      N      E      1      1

[5 rows x 33 columns]

In [93]:
HazardDropDF.shape

(50999, 33)

In [94]:
check = train.Hazard
check.shape

(50999,)

In [95]:
HazardDropDF.describe()

                  Id         T1_V1  ...        T2_V14        T2_V15
count   50999.000000  50999.000000  ...  50999.000000  50999.000000
mean    50929.727897      9.722093  ...      2.451126      3.484480
std     29314.685894      5.167943  ...      1.260074      3.076745
min         1.000000      1.000000  ...      1.000000      1.000000
25%     25660.500000      6.000000  ...      2.000000      1.000000
50%     50977.000000      9.000000  ...      2.000000      2.000000
75%     76268.500000     14.000000  ...      3.000000      5.000000
max    101999.000000     19.000000  ...      7.000000     12.000000

[8 rows x 17 columns]

In [96]:
HazardDropDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50999 entries, 0 to 50998
Data columns (total 33 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Id      50999 non-null  int64
 1   T1_V1   50999 non-null  int64
 2   T1_V2   50999 non-null  int64
 3   T1_V3   50999 non-null  int64
 4   T1_V4   50999 non-null  object
 5   T1_V5   50999 non-null  object
 6   T1_V6   50999 non-null  object
 7   T1_V7   50999 non-null  object
 8   T1_V8   50999 non-null  object
 9   T1_V9   50999 non-null  object
 10  T1_V10  50999 non-null  int64
 11  T1_V11  50999 non-null  object
 12  T1_V12  50999 non-null  object
 13  T1_V13  50999 non-null  int64
 14  T1_V14  50999 non-null  int64
 15  T1_V15  50999 non-null  object
 16  T1_V16  50999 non-null  object
 17  T1_V17  50999 non-null  object
 18  T2_V1   50999 non-null  int64
 19  T2_V2   50999 non-null  int64
 20  T2_V3   50999 non-null  object
 21  T2_V4   50999 non-null  int64
 22  T2_V5   50999 non-null  object
 23  T2_V6   50999 non-null  int64
 24  T2_V7   50999 non-null  int64
 25  T2_V8   50999 non-null  int64
 26  T2_V9   50999 non-null  int64
 27  T2_V10  50999 non-null  int64
 28  T2_V11  50999 non-null  object
 29  T2_V12  50999 non-null  object
 30  T2_V13  50999 non-null  object
 31  T2_V14  50999 non-null  int64
 32  T2_V15  50999 non-null  int64
dtypes: int64(17), object(16)
memory usage: 12.8+ MB

In [98]:
PandaProfiling = pandas_profiling.ProfileReport(HazardDropDF)

OSError: ignored

In [ ]:
#covert profile report as html file
report.to_file("PropertyInspection.html")