<a href="https://colab.research.google.com/github/DsStudentSid/InitialPaythonAssignments/blob/master/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [72]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import pandas_profiling

#from plotly.offline import init_notebook_mode, iplot
#import plotly.graph_objs as go
#import chart_studio.plotly as py
#from plotly import tools
#init_notebook_mode(connected=True)

In [ ]:
!pip install pandas_profiling==2.5.0

In [62]:
train = pd.read_csv('https://raw.githubusercontent.com/DsStudentSid/InitialPaythonAssignments/master/PropertyInspection_train.csv')

In [63]:
train.head()

   Id  Hazard  T1_V1  T1_V2  T1_V3  ... T2_V11 T2_V12 T2_V13 T2_V14 T2_V15
0   1       1     15      3      2  ...      Y      N      E      2      2
1   2       4     16     14      5  ...      Y      Y      E      2      1
2   3       1     10     10      5  ...      Y      Y      E      6      1
3   4       1     18     18      5  ...      Y      N      C      2      6
4   5       1     13     19      5  ...      N      N      E      1      1

[5 rows x 34 columns]

In [64]:
train.shape

(50999, 34)

In [65]:
HazardDropDF=train.drop('Hazard',axis=1)

In [66]:
HazardDropDF.head()

   Id  T1_V1  T1_V2  T1_V3 T1_V4  ... T2_V11 T2_V12 T2_V13 T2_V14 T2_V15
0   1     15      3      2     N  ...      Y      N      E      2      2
1   2     16     14      5     H  ...      Y      Y      E      2      1
2   3     10     10      5     N  ...      Y      Y      E      6      1
3   4     18     18      5     N  ...      Y      N      C      2      6
4   5     13     19      5     N  ...      N      N      E      1      1

[5 rows x 33 columns]

In [67]:
HazardDropDF.shape

(50999, 33)

In [68]:
check = train.Hazard
check.shape

(50999,)

In [69]:
HazardDropDF.describe()

                  Id         T1_V1  ...        T2_V14        T2_V15
count   50999.000000  50999.000000  ...  50999.000000  50999.000000
mean    50929.727897      9.722093  ...      2.451126      3.484480
std     29314.685894      5.167943  ...      1.260074      3.076745
min         1.000000      1.000000  ...      1.000000      1.000000
25%     25660.500000      6.000000  ...      2.000000      1.000000
50%     50977.000000      9.000000  ...      2.000000      2.000000
75%     76268.500000     14.000000  ...      3.000000      5.000000
max    101999.000000     19.000000  ...      7.000000     12.000000

[8 rows x 17 columns]

In [70]:
HazardDropDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50999 entries, 0 to 50998
Data columns (total 33 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Id      50999 non-null  int64
 1   T1_V1   50999 non-null  int64
 2   T1_V2   50999 non-null  int64
 3   T1_V3   50999 non-null  int64
 4   T1_V4   50999 non-null  object
 5   T1_V5   50999 non-null  object
 6   T1_V6   50999 non-null  object
 7   T1_V7   50999 non-null  object
 8   T1_V8   50999 non-null  object
 9   T1_V9   50999 non-null  object
 10  T1_V10  50999 non-null  int64
 11  T1_V11  50999 non-null  object
 12  T1_V12  50999 non-null  object
 13  T1_V13  50999 non-null  int64
 14  T1_V14  50999 non-null  int64
 15  T1_V15  50999 non-null  object
 16  T1_V16  50999 non-null  object
 17  T1_V17  50999 non-null  object
 18  T2_V1   50999 non-null  int64
 19  T2_V2   50999 non-null  int64
 20  T2_V3   50999 non-null  object
 21  T2_V4   50999 non-null  int64
 22  T2_V5   50999 non-null  object
 23  T2_V6   50999 non-null  int64
 24  T2_V7   50999 non-null  int64
 25  T2_V8   50999 non-null  int64
 26  T2_V9   50999 non-null  int64
 27  T2_V10  50999 non-null  int64
 28  T2_V11  50999 non-null  object
 29  T2_V12  50999 non-null  object
 30  T2_V13  50999 non-null  object
 31  T2_V14  50999 non-null  int64
 32  T2_V15  50999 non-null  int64
dtypes: int64(17), object(16)
memory usage: 12.8+ MB

In [71]:
PandaProfiling = pandas_profiling.ProfileReport(HazardDropDF)
#covert profile report as html file
report.to_file("PropertyInspection.html")

TypeError: ignored